# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.

# Ignore everything
*

# Except these...

# Git/GitHub
!/.gitignore
!/.gitattributes
!/.github/**/*

# Go
!*.go
!go.sum
!go.mod
!.goreleaser.yaml
!.golangci.yml
!staticcheck.conf
!**/testdata/**

# CodeCov
!codecov.yml

# General
!README.md
!LICENSE
!docs/**/*
!examples/**/*

# Typos
!.typos.toml

# Task
!Taskfile.yml

# Copier
!.copier-answers.yml

# ...even if they are in subdirectories
!*/
